body {
    width: 100%;
    height: auto; 
}

header {
    margin: 2rem 4rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 2rem;
    grid-template-areas:
        "title_h1 title_img";
}
 
.title {
    grid-area: title_h1;
    border: 1px solid black;
    width: 100%;
    height: 100%;

}

header img {
grid-area: title_img;
border: 1px solid black;
width: 100%;
height: 100%;
}

h1 {
    font-size: 150px;
    font-family: verdana;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    margin: 2rem 4rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,auto);
    gap: 2rem;
    grid-template-areas:
        "b c d d e"
        "f f d d g"
        "h i j j j";
}

.grid-container img {
    width: 100%;
    height: 100%;
}

.item-2 {
    grid-area: b;
    border: 1px solid black;
}

.item-3 {
    grid-area: c;
    border: 1px solid black;
}

.item-4 {
    grid-area: d;
    border: 1px solid black;
}

.item-5 {
    grid-area: e;
    border: 1px solid black;
}

.item-6 {
    grid-area: f;
    border: 1px solid black;
}

.item-7 {
    grid-area: g;
    border: 1px solid black;
}

.item-8 {
    grid-area: h;
    border: 1px solid black;
}

.item-9 {
    grid-area: i;
    border: 1px solid black;
}

.item-10 {
    grid-area: j;
    border: 1px solid black;
}