body {
    width: 100%;
    height: 70vh;
    margin-left: 15px;
    margin-right: 15px;
}

header {
        margin: 32px 64px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(1,300px)
        gap: 32px;
        grid-template-areas:
            "title header_img";
 }

.title {
    grid-area: title;
    border: 1px solid black;
    font-size: 48px;
    font-family: verdana;
    text-align: center;
}


.grid-container {
    margin: 32px 64px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,300px);
    gap: 32px;
    grid-template-areas:
        "b c d d e"
        "f f d d g"
        "h i j j j";
}

.grid-container img {
    width: 100%;
    height: 100%;
}

.item-2 {
    grid-area: b;
    border: 1px solid black;
}

.item-3 {
    grid-area: c;
    border: 1px solid black;
}

.item-4 {
    grid-area: d;
    border: 1px solid black;
}

.item-5 {
    grid-area: e;
    border: 1px solid black;
}

.item-6 {
    grid-area: f;
    border: 1px solid black;
}

.item-7 {
    grid-area: g;
    border: 1px solid black;
}

.item-8 {
    grid-area: h;
    border: 1px solid black;
}

.item-9 {
    grid-area: i;
    border: 1px solid black;
}

.item-10 {
    grid-area: j;
    border: 1px solid black;
}